@import '../mixins';

.main-page {
   &__products {
      display: grid;

      max-width: rem(1000);
      margin: auto;

      grid-template-columns: repeat(5, 1fr);
      grid-gap: rem(40) rem(20);
   }
}
