@import '../mixins';

.nothing-there {
   position: fixed;
   left: calc(50% - 4.6875rem);
   width: rem(150);

   animation: rotate 2s ease-in-out infinite;
}

@keyframes rotate {
   from {
      transform: rotate(0);
   }
   to {
      transform: rotate(360deg);
   }
}