@import '../mixins';

.nothing-there {
   position: fixed;
   left: calc(50% - 4.6875rem);
   width: rem(150);

   &__title {
      text-align: center;
      margin: rem(10);
      font-size: rem(18);
   }

   &__image {
      animation: rotate 2s ease-in-out infinite;
   }
}

@keyframes rotate {
   from {
      transform: rotate(0);
   }
   to {
      transform: rotate(360deg);
   }
}