@function rem($px) {
   @return #{$px/16}rem;
}

@mixin appear() {
   animation: swing-in-top-fwd .5s cubic-bezier(.175, .885, .320, 1.275) both;
}
@keyframes swing-in-top-fwd {
   0% {
      transform: rotateX(-100deg);
      transform-origin: top;

      opacity: 0;
   }
   100% {
      transform: rotateX(0deg);
      transform-origin: top;

      opacity: 1;
   }
}
