@import './vars';
* {
   font-family: 'Nunito', sans-serif;
}
#root {
   background: $grey-background;
   position: relative;
   min-height: 100vh;
}


@import './media';


@import './modules/header';
@import './modules/footer';
@import './modules/loading';

@import './modules/main-page/filters';
@import './modules/main-page/main-page';
@import './modules/main-page/product';

@import './modules/saved/saved';
@import './modules/saved/product';

@import './modules/bag/bag';
@import './modules/bag/product';
@import './modules/bag/order';