@import '../../mixins';
@import '../../vars';

.filters {
   margin-bottom: rem(10);

   text-align: center;

   /* Reset Select */
   select {
      width: rem(150);
      padding: 0 rem(8);

      cursor: pointer;

      border: 0 !important;
      outline: 0;
      background: transparent;
      background-image: none;
      box-shadow: none;

      appearance: none;
      flex: 1;

      option {
         background-color: $grey-background;
      }
   }

   /* Custom Select */
   &__select {
      line-height: 2;

      position: relative;

      display: flex;
      display: inline-block;
      overflow: hidden;

      width: rem(150);
      height: rem(32);
      margin: rem(10) rem(5);

      border: rem(1) solid #4a77ff;
      border-radius: rem(4);
   }


   /* Arrow */
   &__select::after {
      position: absolute;
      top: 0;
      right: 0;

      padding: 0 rem(16);

      content: '\25BC';
      cursor: pointer;
      transition: .25s all ease;
      pointer-events: none;
   }

   /* Transition */
   &__select:hover::after {
      color: #f39c12;
   }
}


@media screen and (max-width: 768px) {
   .filters {
      select {
         line-height: rem(45);

         width: rem(200);
         padding: 0 rem(8);
      }

      &__select {
         font-size: rem(20);
         line-height: rem(45);

         width: rem(200);
         height: rem(45);
         // margin: rem(10) rem(5);

         border-radius: rem(10);
      }
   }
}
